*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #81ecec;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    opacity: 0;
    transition: .25s 1s cubic-bezier(0, 1.07, 0, 1.02);
}

a {
    display: block;
    margin-bottom: 40px;
    color: #00cec9;
    font-size: 47px;
    text-decoration: none;
}

.menu {
    background-color: #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
}

.menu:hover {
    box-shadow: 0 0 0 8px #fff, 0 0 0 8px #fff;
}

.icon {
    display: block;
    background-color: #000;
    height: 2px;
    width: 30px;
    position: relative;
    top: 29px;
    left: 15px;
    transition: .5s ease-in-out;
}

.icon::before,
.icon::after {
    display: block;
    background-color: #000;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.icon::before {
    top: -10px;
}

.icon::after {
    bottom: -10px;
}

#icon--menu__check[type="checkbox"] {
    display: none;
}

#icon--menu__check[type="checkbox"]:checked ~ ul {
    opacity: 1;
}

#icon--menu__check[type="checkbox"]:checked ~ label .menu {
    box-shadow: 0 0 0 130vw #fff, 0 0 0 130vh #fff;

}

#icon--menu__check[type="checkbox"]:checked ~ label .icon {
    transform: rotate(45deg);
}

#icon--menu__check[type="checkbox"]:checked ~ label .icon::before {
    transform: rotate(90deg);
    top: 0;
}

#icon--menu__check[type="checkbox"]:checked ~ label .icon::after {
    transform: rotate(90deg);
    bottom: 0;
}